---
layout: default
---

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />

<div style="margin-left: 12%; margin-right: 12%">
    <div class="columns is-4 is-variable">
        <div class="column is-2">
            <figure class="image is-2by2">
            <img src="/images/about/about_background.jpg">
            </figure>
        </div>
        <div class="column is-8 content">
            <h1>Haojie Pan</h1>
            <p>
                Currently, I am an algorithm expert at 
                <a href="https://www.kuaishou.com/">Kuaishou Technology</a>, leading the project 
                <a href="https://github.com/ScarletPan/Kuaipedia"> Kuaipedia </a>, which is the first large-scale multi-modal short-video encyclopedia in the world. 
                
                Before that, I am an senior algorithm engineer at
                <a href="https://www.alibabacloud.com/">Alibaba Cloud</a>, developing large scale NLP toolkits on <a href="https://www.alibabacloud.com/product/machine-learning?spm=a2c65.11461447.0.0.25e81730czH1UY"> PAI </a>. 
                I got my Mphil degree from 
                <a href="http://www.ust.hk/">HKUST</a>, 
                supervised by 
                <a href="https://www.cse.ust.hk/~yqsong/">Prof. Yangqiu Song</a>. 
                I received my B.E. degree at 
                <a href="http://www.cs.zju.edu.cn">ZJU</a>
                in June 2018, supervised by
                <a href="http://dengcai.zjulearning.org:8081">Prof. Deng Cai</a>. 
                I have worked in 
                <a href="https://weixin.qq.com">Tencent Wechat group</a>,
                <a href="https://damo.alibaba.com/labs/language-technology/">Alibaba DAMO Academy NLP Group</a> and
                <a href="https://fuxi.163.com">Netease NetEase Fuxi AI Lab</a>.
            </p>

            <p>
            I work on text mining, natural language processing and knowledge graph. 
            </p>

            <h3>Contact</h3>
            <p>
            <span class="icon"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></span>
            myscarletpan@gmail.com
            </p>

            <h3>Pages</h3>
            <p>
            <p>
                <a href="https://www.linkedin.cn/in/haojie-pan-767612245/">LinkedIn</a>, <a href="https://scholar.google.com/citations?user=2NehWz0AAAAJ&hl=en">Google Scholar</a>,  <a href="https://github.com/scarletpan">Github</a>, <a href="https://www.zhihu.com/people/scarlet-pan">Zhihu</a>
            </p>

            <h3>Publications</h3>
            <p>* means equal contribution</p>
            <p>Journal Publications</p>
            <ol style="font-size:15px;">
                <li>Hongming Zhang*, Xin Liu*, <b>Haojie Pan</b>*, Haowen Ke, Jiefu Ou, Tianqing Fang, and Yangqiu Song. ASER: Towards Large-scale Commonsense Knowledge Acquisition via Higher-order Selectional Preference over Eventualities. <b><i>Artificial Intelligence(AI)</i></b>. 2022. (CCF-A) <a href="https://arxiv.org/pdf/2104.02137.pdf"> [paper] </a> <a href="https://github.com/HKUST-KnowComp/ASER"> [code] </a></li>
                <li>Wenyi Xiao, Huan Zhao, <b>Haojie Pan</b>, Yangqiu Song, Vincent W. Zheng, Qiang Yang. Social explorative attention based recommendation for content distribution platforms. <b><i>Data Mining and Knowledge Discovery(DMKD)</i></b>. 2021. (CCF-B) <a href="https://link.springer.com/article/10.1007/s10618-020-00729-1"> [paper] </a> <a href="https://github.com/HKUST-KnowComp/Social-Explorative-Attention-Networks"> [code] </a></li>
            </ol>
            
            <p>Conference Publications</p>
            <ol style="font-size:15px;">
                <li><b>Haojie Pan</b>*, Chengyu Wang*, Minghui Qiu, Yichang Zhang, Yaliang Li, Jun Huang. Meta-KD: A Meta Knowledge Distillation Framework for Language Model Compression across Domains. <b><i>ACL</i></b>. 2021. (CCF-A) <a href="https://aclanthology.org/2021.acl-long.236.pdf"> [paper] </a> <a href="https://github.com/alibaba/EasyTransfer/tree/master/scripts/MetaKD"> [code] </a> </li>
                <li><b>Haojie Pan</b>, Cen Chen, Chengyu Wang, Minghui Qiu, Liu Yang, Feng Ji and Jun Huang. Learning to Expand: Reinforced Response Expansion for Information-seeking Conversations. <b><i>CIKM</i></b>. 2021. (CCF-B)<a href="https://arxiv.org/pdf/2011.12771.pdf"> [paper] </a> </a></li>
                <li><b>Haojie Pan</b>, Rongqin Yang, Xin Zhou, Rui Wang, Deng Cai, Xiaozhong Liu. Large Scale Abstractive Multi-Review Summarization (LSARS) via Aspect Alignment. <b><i>SIGIR</i></b>. 2020. (CCF-A) <a href="https://dl.acm.org/doi/abs/10.1145/3397271.3401439"> [paper] </a> <a href="https://github.com/ScarletPan/LSARS"> [data] </a> </li>
                <li>Chengyu Wang*, <b>Haojie Pan</b>*, Yuan Liu, Kehan Chen, Minghui Qiu, Wei Zhou, Jun Huang, Haiqing Chen, Wei Lin, Deng Cai. MeLL: Large-scale Extensible User Intent Classification for Dialogue Systems with Meta Lifelong Learning. <b><i>KDD</i></b>. 2021. (CCF-A) <a href="https://dl.acm.org/doi/abs/10.1145/3447548.3467107"> [paper] </a> <a href="https://github.com/alibaba/EasyNLP/tree/master/examples/mell"> [code] </a></li>
                <li>Hongming Zhang*, Xin Liu*, <b>Haojie Pan</b>*, Yangqiu Song, and Cane Wing-Ki Leung. ASER: A Large-scale Eventuality Knowledge Graph. <b><i>WWW</i></b>. 2020. (CCF-A) <a href="https://arxiv.org/pdf/1905.00270.pdf"> [paper] </a> <a href="https://github.com/HKUST-KnowComp/ASER/tree/release/1.0"> [code] </a> </li>
                <li>Zhou Zhao*, <b>Haojie Pan</b>*, Changjie Fan,  Yan Liu, Linlin Li, Min Yang and Deng Cai. Abstractive Meeting Summarization via Hierarchical Adaptive Segmental Network Learning. <b><i>WWW</i></b>. 2019. (CCF-A) <a href="https://dl.acm.org/doi/10.1145/3308558.3313619"> [paper] </a></li>
                <li>Minghui Qiu, Peng Li*, Chengyu Wang*,  <b>Haojie Pan</b>*, Ang Wang, Xianyan Jia, Le Jiang, Yaliang Li, Jun Huang, Jun Yang, Lin Wang, Deng Cai, Wei Lin. EasyTransfer: A Simple and Scalable Deep Transfer Learning Platform for NLP Applications. <b><i>CIKM</i></b>. 2021. (CCF-B)<a href="https://arxiv.org/pdf/2011.09463.pdf"> [paper] </a> <a href="https://github.com/alibaba/EasyTransfer"> [code] </a></li>
                <li>Chengyu Wang, <b>Haojie Pan</b>, Minghui Qiu, Jun Huang, Fei Yang, Yin Zhang. Meta Distant Transfer Learning for Pre-trained Language Models. <b><i>EMNLP</i></b>. 2021. (CCF-B) <a href="https://aclanthology.org/2021.emnlp-main.768.pdf"> [paper] </a> </li>
                <li>Tianqing Fang, <b>Haojie Pan</b>, Hongming Zhang, Yangqiu Song, Kun Xu, Dong Yu. Do Boat and Ocean Suggest Beach? Dialogue Summarization with External Knowledge. <b><i>AKBC</i></b>. 2021. <a href="https://www.akbc.ws/2021/assets/pdfs/AJKd0iIFMDc.pdf"> [paper] </a> <a href="https://github.com/HKUST-KnowComp/CODC-Dialogue-Summarization"> [code] </a> </li>
                <li>Xin Liu, <b>Haojie Pan</b>, Mutian He, Yangqiu Song, Xin Jiang, Neural Subgraph Isomorphism Counting. <b><i>KDD</i></b>. 2020 (CCF-A) <a href="https://arxiv.org/pdf/1912.11589.pdf"> [paper] </a> <a href="https://github.com/HKUST-KnowComp/NeuralSubgraphCounting"> [code] </a></li>
                <li>Wenyi Xiao, Huan Zhao, <b>Haojie Pan</b>, Yangqiu Song, Vincent W. Zheng, Qiang Yang. Beyond Personalization - Social Content Recommendation for Creator Equality and Consumer Satisfaction. <b><i>KDD</i></b>. 2019. (CCF-A)<a href="https://arxiv.org/pdf/1905.11900.pdf"> [paper] </a> <a href="https://github.com/HKUST-KnowComp/Social-Explorative-Attention-Networks"> [code] </a></li>
            </ol>
    
            <p>Preprints</p>
            <ol style="font-size:15px;">
                <li><b>Haojie Pan</b>, Junpei Zhou, Zhou Zhao, Yan Liu, Deng Cai, Min Yang Dial2desc: end-to-end dialogue description generation. <b><i>Arxiv</i></b>. 2018.</li>
            </ol>
    
            <p>Patents</p>
            <ol style="font-size:15px;">
                <li>Hongming Zhang*, Xin Liu*, <b>Haojie Pan</b>* and Yangqiu Song. Knowledge graph (kg) construction method for eventuality prediction and eventuality prediction method. <b><i>US Patent App. 17/613,940</i></b>. 2022</li>
            </ol>
        </div>
    </div>
</div>

