---
layout: default
---

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />

<div style="margin-left: 5%; margin-right: 5%">
    <div class="columns is-4 is-variable">
        <div class="column is-4">
            <figure class="image is-2by2">
            <img src="/images/about/about_background.jpg">
            </figure>
        </div>
        <div class="column is-7 content">
            <h1>Haojie Pan</h1>
            <p>
                I am a senior algorithm engineer at 
                <a href="https://www.alibabacloud.com/">Alibaba Cloud</a>. 
                Before that, I got my Mphil degree from 
                <a href="http://www.ust.hk/">HKUST</a>, 
                supervised by 
                <a href="https://www.cse.ust.hk/~yqsong/">Prof. Yangqiu Song</a>. 
                I received my B.E. degree at 
                <a href="http://www.cs.zju.edu.cn">ZJU</a>
                in June 2018, supervised by
                <a href="http://dengcai.zjulearning.org:8081">Prof. Deng Cai</a>. 
                I have worked in 
                <a href="https://fuxi.163.com">Netease NetEase Fuxi AI Lab</a>, 
                <a href="https://damo.alibaba.com/labs/language-technology/">Alibaba DAMO Academy NLP Group</a> and 
                <a href="https://weixin.qq.com">Tencent Wechat group</a>.
            </p>

            <p>
            I work on text mining, natural language processing and machine learning. 
            </p>

            <h3>Contact</h3>
            <p>
            <span class="icon"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></span>
            myscarletpan@gmail.com
            </p>

            <h3>Pages</h3>
            <p>
            <p>
                <a href="https://www.linkedin.com/in/haojie-pan-1a46b9145/">LinkedIn</a>, <a href="https://scholar.google.com/citations?user=2NehWz0AAAAJ&hl=en">Google Scholar</a>,  <a href="https://github.com/scarletpan">Github</a>, <a href="https://www.zhihu.com/people/scarlet-pan">Zhihu</a>
            </p>

            <h3>Publications</h3>
            <p>
                <p>* means equal contribution</p>
                <p><b>Haojie Pan</b>, Cen Chen, Chengyu Wang, Minghui Qiu, Liu Yang, Feng Ji and Jun Huang. Learning to Expand: Reinforced Response Expansion for Information-seeking Conversations. <b><i>CIKM</i></b>. 2021. (CCF-B)</p>
                <p>Minghui Qiu, Peng Li*, Chengyu Wang*,  <b>Hanjie Pan</b>*, Ang Wang, Xianyan Jia, Le Jiang, Yaliang Li, Jun Huang, Jun Yang, Lin Wang, Deng Cai, Wei Lin. EasyTransfer: A Simple and Scalable Deep Transfer Learning Platform for NLP Applications. <b><i>CIKM</i></b>. 2021. (CCF-B)</p>
                <p>Chengyu Wang, <b>Haojie Pan</b>, Minghui Qiu, Jun Huang, Fei Yang, Yin Zhang. Meta Distant Transfer Learning for Pre-trained Language Models. <b><i>EMNLP</i></b>. 2021. (CCF-B)  </p>
                <p>Chengyu Wang*, <b>Haojie Pan</b>*, Yuan Liu, Kehan Chen, Minghui Qiu, Wei Zhou, Jun Huang, Haiqing Chen, Wei Lin, Deng Cai. MeLL: Large-scale Extensible User Intent Classification for Dialogue Systems with Meta Lifelong Learning. <b><i>KDD</i></b>. 2021. (CCF-A)</p>
                <p><b>Haojie Pan</b>*, Chengyu Wang*, Minghui Qiu, Yichang Zhang, Yaliang Li, Jun Huang. Meta-KD: A Meta Knowledge Distillation Framework for Language Model Compression across Domains. <b><i>ACL</i></b>. 2021. (CCF-A)</p>
                <p>Wenyi Xiao, Huan Zhao, <b>Haojie Pan</b>, Yangqiu Song, Vincent W. Zheng, Qiang Yang. Social explorative attention based recommendation for content distribution platforms. <b><i>DMKD</i></b>. 2021. (CCF-B)</p>
                <p><b>Haojie Pan</b>, Rongqin Yang, Xin Zhou, Rui Wang, Deng Cai, Xiaozhong Liu. Large Scale Abstractive Multi-Review Summarization (LSARS) via Aspect Alignment. <b><i>SIGIR</i></b>. 2020. (CCF-A) </p>
                <p>Hongming Zhang*, Xin Liu*, <b>Haojie Pan</b>*, Yangqiu Song, and Cane Wing-Ki Leung. ASER: A Large-scale Eventuality Knowledge Graph. <b><i>WWW</i></b>. 2020. (CCF-A) </p>
                <p>Xin Liu, <b>Haojie Pan</b>, Mutian He, Yangqiu Song, Xin Jiang, Neural Subgraph Isomorphism Counting. <b><i>KDD</i></b>. 2020 (CCF-A)</p>
                <p>Wenyi Xiao, Huan Zhao, <b>Haojie Pan</b>, Yangqiu Song, Vincent W. Zheng, Qiang Yang. Beyond Personalization - Social Content Recommendation for Creator Equality and Consumer Satisfaction. <b><i>KDD</i></b>. 2019. (CCF-A)</p>
                <p>Zhou Zhao*, <b>Haojie Pan</b>*, Changjie Fan,  Yan Liu, Linlin Li, Min Yang and Deng Cai. Abstractive Meeting Summarization via Hierarchical Adaptive Segmental Network Learning. <b><i>WWW</i></b>. 2019. (CCF-A)</p>
            </p>
            <h3>Arxiv Paper</h3>
            <p>
                <p>Minghui Qiu, Peng Li, <b>Hanjie Pan</b>, Chengyu Wang, Cen Chen, Yaliang Li, Dehong Gao, Jun Huang, Yong Li, Jun Yang, Deng Cai, Wei Lin. EasyTransfer--A Simple and Scalable Deep Transfer Learning Platform for NLP Applications. <b><i>Arxiv</i></b>. 2020.</p>
                <p><b>Haojie Pan</b>, Junpei Zhou, Zhou Zhao, Yan Liu, Deng Cai, Min Yang Dial2desc: end-to-end dialogue description generation. <b><i>Arxiv</i></b>. 2018.</p>
            </p>
        </div>
    </div>
</div>

